header, footer{
    display: none !important;
    
}

html, body {
  padding: 0;
  margin: 0;
}

.container {
  width: 989px;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 5px;
}

#main {
  float: left;
  width: 30%;
}

.simple-form {
  margin: 10px 0px;
  padding: 2px;
  width: 95%;
  display: inline-block;
  border: solid 1px lightblue;
  border-radius: 2px;
}

input, select{
    margin-bottom: 20px;
}

#results{
    margin: 10px 0px;
    padding: 2px;
    float: right;
    width: 69%;
    border: solid 1px lightblue;
    border-radius: 2px;
}

#consultarLogs{
  transition: transform 1s ease 0.1s; 
  text-align: center;
}


#consultarLogs:hover{
    transform: scale(1.5);
}

